body {
	background: url(assets/images/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}

.navigation {

}


.navlink {
	list-style: none;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	color:cornsilk;
	text-decoration: none;
	padding-right: 50px;



}

.navlink-a {
	list-style: none;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	color:cornsilk;
	text-decoration: none;

}

